---
/**
 * Card component that displays a clickable card with an icon and text
 * @example
 * <Card name="GitHub" link="https://github.com" icon="fa-brands fa-github" />
 */
interface Props {
  /** Display text for the card */
  name: string;
  /** URL the card should link to */
  link: string;
  /** Font Awesome icon class(es) */
  icon: string;
}

const { name, link, icon } = Astro.props as Props;
---

<!-- 
  Interactive card that links to an external resource
  @see https://developer.mozilla.org/en-US/docs/Web/HTML/Element/a
-->
<a
  href={link}
  target="_blank"
  rel="noopener noreferrer"
  aria-label={`Open ${name} in a new tab`}
  class="card-component"
  data-testid="card-link"
>
  <div class="card-container">
    <i class={`${icon} card-icon`} aria-hidden="true"></i>
    <span class="card-title">{name}</span>
  </div>
</a>
